// Основной шрифт на сайте с предзагрузкой

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto"),
         local("Roboto-Regular"),
         url(/assets/fonts/Roboto-Regular.woff) format('woff'),
         url(/assets/fonts/Roboto-Regular.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"),
         url(/assets/fonts/Roboto-Bold.woff) format('woff'),
         url(/assets/fonts/Roboto-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto-Medium"),
         url(/assets/fonts/Roboto-Medium.woff) format('woff'),
         url(/assets/fonts/Roboto-Medium.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open-Sans";
    src: local("Open-Sans"),
         url(/assets/fonts/OpenSans-Bold.woff) format('woff'),
         url(/assets/fonts/OpenSans-Bold.ttf) format('truetype');
    font-style: normal;
    font-display: swap;
}


