.menu-btn {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 30px;
    position: relative;
    span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 50px;
        height: 3px;
        background-color: #fff;
        display: block;
        border-radius: 5px;
        transition: all 150ms ease;
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 3px;
        background-color: #fff;
        display: block;
        border-radius: 5px;
        transition: all 150ms ease;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 3px;
        background-color: #fff;
        display: block;
        border-radius: 5px;
        transition: all 150ms ease;


    }
}

.menu-btn.is-active {
    span {
        opacity: 0;
    }
    &::before {
        transform: rotate(45deg);
        top: 13px;
    }
    &::after {
        transform: rotate(-45deg);
        bottom: 14px;
    }
}
